<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestODBC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Domain" value="PC-GEGE" />
    <add key="User" value="TestSQL" />
    <add key="Password" value="test" />
    <add key="odbcDNS" value="OBDCLocal" />
  </appSettings>
  <applicationSettings>
    <TestODBC.Properties.Settings>
      <setting name="Queries" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>SELECT TOP 1 *   FROM SYS_Listes_de_valeurs</string>
            <string>SELECT TOP 1 *   FROM SYS_Utilisateurs</string>
          </ArrayOfString>
        </value>
      </setting>
      
    </TestODBC.Properties.Settings>
  </applicationSettings>
</configuration>